* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(144, 143, 143);
    align-items: center;
    justify-content: center;
    
    
}


.display{
    width: 214px;
    color: white;
    
}
.display:focus {
    outline: none;
}
.row button{
    position: relative;
    width: 50px;
    padding: 15px 0;
    border-radius: 25%;
    text-align: center;
    border: 2px solid #2b01ff; 
    
  

}

.display{
    border: 2px solid #2b01ff; 
    background-color: black;
    font-size: 20px;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: rgba(255, 47, 10, 0.15) 0 54px 55px,
    rgba(255, 47, 10, 0.15) 0 -12px 30px,
    rgba(255, 47, 10, 0.15) 0 4px 6px,
    rgba(255, 47, 10, 0.15) 0 12px 13px,
    rgba(255, 47, 10, 0.15) 0 -3px 5px
}
.keys{
    margin: 1em 0;
}




